.site-main {
  z-index: 100;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.site-account {
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 5vw;
}
.subscriber-box {
  margin: 0 auto;
  max-width: 560px;
  width: 100%;
}
.subscriber-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
}
.subscription-title h1 {
  margin-bottom: 12px;
  font-size: 3.4rem;
}
.subscriber-avatar {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 0 120px;
  width: 120px;
  height: 120px;
  border: 1px solid #e3e9ed;
  background: #e3e9ed;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.subscription .subscriber-avatar {
  margin: 4px 0 0 20px;
}
.subscriber-avatar img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
}
.subscriber-box p {
  line-height: 1.5em;
}
.subscription {
  padding: 20px 0 40px;
}
.subscription-expiration-warning {
  color: #f05230;
}
.subscriber-details {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 20px 0 0;
  border-top: 1px solid #e3e9ed;
  border-bottom: 1px solid #e3e9ed;
}
.subscriber-detail {
  -webkit-box-flex: 1;
  flex: 1 0 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0 0 20px;
  padding: 0 20px 0 0;
}
.subscriber-detail-label {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.subscription-actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.subscription-actions li {
  margin: 0 0.8rem 0 0;
  padding: 0;
}
.subscription-actions li:last-of-type {
  margin-right: 0;
}
.subscription-actions li a {
  display: inline-block;
  padding: 0 1.8rem;
  height: 44px;
  border: 0;
  color: #3eb0ef;
  font-size: 1.5rem;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #3eb0ef;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.subscription-actions li a:hover {
  color: #118dd0;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #139de7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.subscription-actions .gh-subscription-cancel {
  color: #92a3ab;
  box-shadow: inset 0 0 0 1px #92a3ab;
}
.subscription-actions .gh-subscription-cancel:hover {
  color: #738a94;
  box-shadow: inset 0 0 0 1px #738a94;
}
.gh-subscription-cancel[data-members-continue-subscription] {
  color: #fff;
  background-color: #3eb0ef;
  box-shadow: none;
}
.gh-subscription-cancel[data-members-continue-subscription]:hover {
  color: #fff;
  background-color: #139de7;
  box-shadow: none;
}
.gh-error-subscription-cancel {
  display: block;
  margin-top: 10px;
  color: #f05230;
  font-size: 1.5rem;
}
.site-signin {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.signin-form {
  margin: 0 auto 10vw;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.signin-title {
  margin: 0 0 0.1em;
  font-size: 4.2rem;
}
.signin-form p {
  color: #738a94;
  font-size: 1.3em;
}
.signin-form p small {
  display: inline-block;
  margin: 15px 0 0;
  font-size: 1.4rem;
}
.signin-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.signin-box .button {
  margin-left: 10px;
}
@media (max-width: 600px) {
  .signin-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .signin-box .button {
    margin: 15px 0 0;
    width: 100%;
  }
}
.account-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 560px;
  width: 100%;
}
.account-box-title {
  margin-top: 20px;
  font-size: 3.4rem;
  text-align: center;
}
.account-box p {
  text-align: center;
}
.site-signup {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.outer {
  position: relative;
  padding: 0 5vw;
}
.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}
.checkout-form {
  margin: 0 auto 10vw;
  max-width: 700px;
  width: 100%;
  text-align: center;
}
.checkout-title {
  margin: 0 auto 10px;
  padding: 5vw 0 0;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -0.6px;
}
.checkout-form p {
  margin: 0 auto 60px;
  max-width: 500px;
  color: #738a94;
  font-size: 1.3em;
}
.checkout-box {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.checkout-box,
.checkout-plan {
  display: -webkit-box;
  display: flex;
}
.checkout-plan {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 30px;
  border-top: 6px solid #3eb0ef;
  color: #313b3f;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(39, 44, 49, 0.03), 0 0 3px rgba(39, 44, 49, 0.05),
    0 5px 22px -10px rgba(39, 44, 49, 0.12),
    0 25px 30px -25px rgba(39, 44, 49, 0.05);
}
.checkout-plan + .checkout-plan {
  margin-left: 30px;
}
.checkout-plan-header {
  position: relative;
  padding: 0 0 50px;
  color: #738a94;
  text-align: center;
}
.checkout-plan-header:after {
  content: "";
  position: absolute;
  right: 30%;
  bottom: 25px;
  left: 30%;
  display: block;
  height: 2px;
  background: rgba(39, 44, 49, 0.08);
  border-radius: 2px;
}
.checkout-plan-header h3 {
  margin: 0 0 25px;
  color: #15171a;
  font-size: 1.8rem;
  line-height: 1.15em;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.checkout-plan-header span {
  font-size: 2.6rem;
  font-weight: 300;
}
.checkout-plan-header strong {
  color: #15171a;
  font-size: 4.5rem;
  font-weight: 500;
}
.checkout-plan-content {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.checkout-plan-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.checkout-plan-content li {
  position: relative;
  margin: 0;
  padding: 0 0 15px 20px;
  line-height: 1.4em;
}
.checkout-plan-content li:before {
  content: "✓";
  position: absolute;
  left: 0;
  display: block;
  color: #98c22e;
  font-size: 1.6rem;
  font-weight: 600;
}
.checkout-plan-content .button {
  margin: 20px 0 0;
}
@media (max-width: 740px) {
  .checkout-title {
    margin-top: 50px;
  }
  .checkout-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .checkout-plan + .checkout-plan {
    margin: 5vw 0 0;
  }
}
form[data-members-form] .button-loader,
form[data-members-form] .message-error,
form[data-members-form] .message-success {
  display: none;
}
.message-error svg,
.message-success svg {
  position: relative;
  top: -1px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.message-success svg {
  fill: #fff;
}
.message-error svg {
  fill: #f05230;
}
form[data-members-form].error .message-error,
form[data-members-form].success .message-success {
  position: fixed;
  top: 84px;
  right: 20px;
  left: 20px;
  z-index: 9999;
  margin: 0 auto;
  padding: 10px 0;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
  background: #98c22e;
  border-radius: 5px;
}
form[data-members-form].success .message-success {
  background: #98c22e;
}
form[data-members-form].error .message-error {
  color: #f05230;
  background: #fff;
  box-shadow: 0 0 0 1px #f05230;
}
form[data-members-form] .button {
  position: relative;
}
form[data-members-form].loading .button-content {
  visibility: hidden;
}
form[data-members-form].loading .button-loader {
  position: absolute;
  left: 50%;
  display: inline-block;
  margin-left: -19px;
  height: 31px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.button-loader svg path,
.button-loader svg rect {
  fill: #fff;
}
form[data-members-form].error .message-error,
form[data-members-form].success .message-success {
  display: block;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button {
  display: inline-block;
  padding: 0 1.8rem;
  height: 44px;
  border: 0;
  font-size: 1.5rem;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button.fit {
  width: 100%;
}
.button.small {
  padding: 0 1.1rem;
  height: 30px;
  font-size: 1.4rem;
  line-height: 30px;
}
.button.large {
  padding: 0 3rem;
  height: 50.16px;
  font-size: 1.6rem;
  line-height: 50.16px;
}
.button.disabled,
.button:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.button {
  color: #3eb0ef;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #3eb0ef;
}
.button:hover {
  color: #118dd0;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #139de7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.button.primary {
  color: #fff;
  background-color: #3eb0ef;
  box-shadow: none;
}
.button.primary:hover {
  background-color: #139de7;
}
